<h3>Login</h3>

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="example-container form-group">

    <div>
      <mat-form-field hintLabel="Max 20 characters" appearance="fill">
        <mat-label>Enter Your Username</mat-label>
        <input type="text" formControlName="userName" matInput #input maxlength="10" placeholder="Username">
        <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input type="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div>
      <button type="submit" mat-raised-button>login</button>
    </div>

  </div>
</form>
