<ul style="background-color: lavender" ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
  <li [ngbNavItem]="1">
    <a ngbNavLink routerLink="words"><strong>Main</strong></a>
    <ng-template ngbNavContent>
      <!--<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
        keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
        salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>-->
    </ng-template>
  </li>
  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle><strong>Category</strong></a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem routerLink="words/category/english">English</button>
      <button ngbDropdownItem routerLink="words/category/spanish">Spanish</button>
      <button ngbDropdownItem routerLink="words/category/french">French</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem routerLink="words">All Categories</button>
    </div>
  </li>
  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle><strong>Options</strong></a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem routerLink="words/add">Add New Word</button>
      <button ngbDropdownItem routerLink="words/remove">Remove Word</button>
    </div>
  </li>
  <li ngbNavItem="true" class="ml-auto">
    <a *ngIf="isLoggedIn()==false" ngbNavLink routerLink="login">Login</a>
    <a *ngIf="isLoggedIn()" ngbNavLink (click)="logOut()">Log Out</a>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>



